@import "../node_modules/@glidejs/glide/src/assets/sass/glide.core";
@import "../node_modules/@glidejs/glide/src/assets/sass/glide.theme";

body {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;

  .section-description {
    .container {
      .row {
        .col-8 {
          h2 {
            margin: 2% 5%;
          }

          a {
            margin-left: 2%;
          }
        }

        .col-4:first-child {
          height: 25vh;
          background: url("../assets/img/photo.jpg") no-repeat;
          background-size: 30%;
          background-position: 30% 50%;
        }
      }
    }
  }

  .section-education {

    .toggleList {
      opacity: 0;
      height: 0;
    }
  }

  .section-portfolio {
    .glide {
      border-top: 0;

      .container {
        margin: 0% 10%;
        width: 80%;
        height: 30vh;

        h3 {
          margin: 5% 2%;
        }

        button {
          margin: 5% 0;
        }

        .col {

          a {

            .image-theyalow {
              margin: 5% 2%;
              width: 100%;
              height: 100%;
              background: url("../assets/img/theyalow.png");
              background-position: 50% 0%;
              background-size: 100%;
            }

            .image-repair {
              margin: 5% 2%;
              width: 100%;
              height: 100%;
              background: url("../assets/img/repair-design-project.png");
              background-position: 50% 0%;
              background-size: 100%;
            }
          }
        }
      }

      .glide__arrows {
        button {
          color: #A3A3A3;
          border-color: #A3A3A3;
          z-index: 2;
        }
      }
    }
  }

  .section-iframe {

    .container-project1,
    .container-project2 {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: #ccc;
      z-index: 5;
      display: flex;
      flex-direction: column;
      align-items: center;

      iframe {
        height: 100%;
        width: 640px;
        background-color: #fff;
      }

      .iFrame-desktop {
        width: 100%;
      }

      #container-project1__button-size,
      #container-project1__button-back {
        position: absolute;
      }

      #container-project1__button-size {
        top: 50%;
        left: 90%;
      }

      .hideButton {
        display: none;
      }

      #container-project1__button-back {
        top: 60%;
        left: 90%;
      }
    }

    .container-hidden {
      display: none;
    }
  }
}

@media screen and (max-width: 768px) {
  body {
    .section-description {
      .container {
        .row {
          .col-4:first-child {
            height: 25vh;
            background: url("../assets/img/photo.jpg") no-repeat;
            background-size: 65%;
            background-position: 30% 50%;
          }
        }
      }
    }

    .section-portfolio {
      .glide {
        .glide__arrows {
          display: none;
        }
      }
    }
  }
}

/*
@media screen and (max-width: 375px) {

}*/